body{
    text-align: center;
    background-color: rgb(1, 23, 43);
}

.container{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin: 20px;
    justify-content: center;
    align-items: center;
}

.box{
    display: flex;
    height: 25rem;
    width: 25rem;
    background-color:  rgb(209, 184, 241);
    border-radius: 5rem;
    justify-content: center;
    align-items: center;
}

.grid{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    width: fit-content;
    gap: 1.5rem;
    margin-bottom: 3rem;
}

.box-img{
    width: 18em;
}

.heading{
    color: aliceblue;
    font-size: 7rem;
    margin-bottom: 0;
    margin-top: 5px;
}

.heading2{
    color: aliceblue;
    font-size: 5rem;
    margin: 0;
}

.reset-button{
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8em;
    color: black;
    height: 5vh;
    border-radius: 5em;
    font-size: 4.5em;
    cursor: pointer;
    background-color: rgba(192, 232, 255, 0.801);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.reset-button:hover{
    background-color: rgb(192, 232, 255);
}

.rematch-request{
    position: absolute;
    display: block;
    background-color: pink;
    padding: 1rem;
    border: 2px solid #333;
    border-radius: 2rem;
    height: 15rem;
    width: 50rem;
}

.options{
    display: flex;
    justify-content: space-around;
}

.option-btn{
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8em;
    color: black;
    border-radius: 5em;
    cursor: pointer;
    background-color: rgba(192, 232, 255, 0.801);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 8rem;
    height: 4rem;
    font-size: 2.5rem;
}

.rematch-msg{
    font-size: 3.3rem;
}


.leave-btn{
    font-size: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.2em;
    color: black;
    cursor: pointer;
    background-color: rgba(192, 232, 255, 0.801);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 4rem;
    position: fixed;
    top: 3rem; 
    right: 3rem;  
}

.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(1, 23, 43); /* Adjust the color and transparency as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; 
}

.hidden{
    display: none;
}