body{
    text-align: center;
    background-color: rgb(1, 23, 43);
}

.container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 20px;
    justify-content: center;
    align-items: center;
}

.box{
    display: flex;
    height: 7rem;
    width: 7rem;
    background-color:  rgb(209, 184, 241);
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
}

.grid{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    width: fit-content;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.box-img{
    width: 5rem;
}

.heading1{
    color: aliceblue;
    font-size: 3.5rem;
    margin-bottom: 0;
    margin-top: 5px;
    min-width: 300px;
    flex-grow: 10;
    align-content: center;
    margin-left: 5.5rem;
}

.heading2{
    color: aliceblue;
    font-size: 2.5rem;
    margin: 0;
    margin-bottom: 1rem;
}

.reset-button{
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8em;
    color: black;
    height: 5vh;
    border-radius: 5em;
    font-size: 1.5em;
    cursor: pointer;
    background-color: rgba(192, 232, 255, 0.801);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.reset-button:hover{
    background-color: rgba(39, 153, 219, 0.877);
}

.rematch-request{
    position: absolute;
    background-color: pink;
    padding: 1rem;
    border: 2px solid #333;
    border-radius: 2rem;
    height: 8rem;
    width: 20rem;
}

.options{
    display: flex;
    justify-content: space-around;
}

.option-btn{
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1rem;
    padding: 1em;
    color: black;
    border-radius: 5em;
    cursor: pointer;
    background-color: rgba(192, 232, 255, 0.801);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3rem;
}

.rematch-msg{
    font-size: 1.8rem;
}


.leave-btn{
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    color: black;
    cursor: pointer;
    border-radius: 5em;
    background-color: rgba(192, 232, 255, 0.801);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.leave-btn:hover{
    background-color: rgba(39, 153, 219, 0.877);
}

.title{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(1, 23, 43); 
  z-index: 999; 
}

.join-btn{
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    color: black;
    cursor: pointer;
    border-radius: 5em;
    background-color: rgba(192, 232, 255, 0.801);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 3rem;
}

.join-btn:hover{
    background-color: rgba(39, 153, 219, 0.877);
}

.left-msg{
    color: aliceblue;
    font-size: 3.5rem;
    display: flex;
    justify-content: center;
    margin-top: 30vh;
}

.btn{
    display: flex;
    justify-content: center;
}

.hidden{
    display: none;
}